@import url('./partials/structural.css');
@import url('./partials/buttons.css');
@import url('./partials/fx.css');

.app {
  padding: 0;
  margin: 0;
}
.app .content {
  padding: 5px;
}

.error-msg {
  color: rgb(32, 19, 19);
  padding: 10px;
  border: 1px solid rgb(221, 45, 45);
  margin: 30px 0;
  border-radius: 5px;
  /* background-color: rgba(229, 175, 175, 0.5); */
  background: repeating-linear-gradient(-55deg, rgb(229, 175, 175), rgb(229, 175, 175) 15px, rgb(227, 155, 155) 15px, rgb(227, 155, 155) 30px);
}
