body {
  background: url('../assets/images/texture-r.jpg');
}

.rbgh {
  padding: 0;
  margin: 0;
  
}
.rbgh .content {
  padding: 5px;
}
.navigation ul {
  border: 1px solid black;
}

.navigation {
  font-size: 12px;
}

.navigation ul {
  list-style-type: none;
  overflow: hidden;
}

.navigation li {
  float: left;
  margin-left: 3px;
}
.navigation li a {
  display: block;
  padding: 3px;
  text-decoration: none;
  background-color: bisque;
}
.navigation li a.active,
.navigation li a:hover {
  color: red;
}





.fake-btn-next,
.fake-btn a:active,
.fake-btn a:visited,
.fake-btn a {
  color: bisque;
  text-decoration: none;
  font-style: normal;
  padding: 8px;
  margin: 10px 0;
  display: inline-block;
  border-radius: 5px;
  background: grey;
}
