.rbgh {
  padding: 0;
  margin: 0;
}

.navigation ul {
  border: 1px solid black;
}

.navigation {
  font-size: 12px;
}

.navigation ul {
  list-style-type: none;
  overflow: hidden;
}

.navigation li {
  float: left;
  margin-left: 3px;
}
.navigation li a {
  display: block;
  padding: 3px;
  text-decoration: none;
  background-color: bisque;
}
.navigation li a.active,
.navigation li a:hover{
  color: red;
}

