header {
  background-color: rgba(240, 248, 255, 0.3);
  padding: 5px 5px 0 5px;
  border-bottom: 1px dashed black;
}
header h2 {
  margin: 0;
  padding: 5px 0;
  font-style: italic;
}
.app-header {
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 1em;
  border-bottom: 1px dashed black;
  padding-bottom: 2px;
}
.app-header img {
  width: 32px;
  height: 32px;
}
.app-header h1 {
  font-size: 1.25em;
  line-height: 31px;
  font-style: italic;
  text-align: center;
  margin: 0;
  padding: 0;
}
.sub-header {
  position: relative;
}
.sub-header .button-popover {
  border: none;
  padding: 0;
  position: absolute;
  top: 5px;
  right: 5px;
}

#floating-ui-root {
  position: absolute;
  z-index: 1;
}

#floating-ui-root .Popover {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  min-width: 200px;
}

#floating-ui-root .Popover .text {
  margin: 10px;
}
