.container {
  /* border: 3px solid black; */
  margin: 0;
  padding: 0;
}
.container > li {
  margin-bottom: 5px;
}
.total-reach {
  margin-top: 10px;
}

.row:not(:last-child) {
  border-bottom: 3px solid bisque;
}
.row {
  padding: 5px 0 5px 5px;
}

.row .column {
  padding: 10px;
  justify-content: center;
}

.first-col {
  display: flex;
  align-items: center;
}

.results-row {
  border-radius: 15px;
}

.results-pic-container {
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.results-pic-container .results-pic {
  position: absolute;
  top: 0;
  width: 100%; /* adjust to container so we can change size */
}
