.manual-page .faction-grid {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5em;
  align-content: center;
  justify-content: center;
  list-style: none;
}
@media (min-width: 992px) {
  .manual-page .faction-grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
  }
}
.manual-page .faction-grid .faction-card {
  aspect-ratio: 1 / 1;
}
.manual-page .faction-grid .faction-card button,
.manual-page .faction-grid .faction-card figure,
.manual-page .faction-grid .faction-card img {
  padding: 0;
  margin: 0;
}
.manual-page .faction-grid .faction-card img {
  max-width: 50%;
}

.manual-page .faction-grid .faction-card button {
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}
