
.faction-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
}

.faction-grid .faction-card{
  height: 100px;
  padding: 0;
  margin: 0 0.25em 0.5em 0.25em;
  border-radius: 0.5em;
  border: 2px solid rgb(82, 82, 82);
}

.faction-grid .faction-card--cancelled {
  border: 2px solid rgb(213, 80, 80);
  background: rgb(89, 89, 89);
}
.faction-grid .faction-card--locked {
  border: 2px dashed rgb(84, 84, 176);
  /* background: rgb(45, 118, 207); */
  background: rgb(255, 255, 255);
}

.faction-grid .faction-card__title {
  font-size: 0.625em; /* 10px */
}

.faction-grid .faction-card__image {
  padding: 0;
  margin: 0;
}

.faction-grid .faction-card img{
  max-width: 50%;
}

/* .rbgh * {border: 1px solid darkblue} */
